html, body {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    background-color: whitesmoke;
    border-bottom: thin solid rgb(175, 175, 175);
    width: 100vw;
    height: 10vh;
    z-index: 1;
}

.headline {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    font: 30px fantasy;
}

.content {
    position: relative;
    background-color: lightgray;
    top: 10vh;
    padding-bottom: 20px;
}

.card {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20px);
    width: 400px;
    margin-bottom: 40px;
}

.card-img {
    box-sizing: border-box;
    height: 400px;
    width: inherit;
}

img {
    position:relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-head {
    border-bottom: thin solid lightgray;
    font-family: 'Courier New';
    padding: 10px;
}

.upload-date {
    color: lightslategray;
    font-size: 15px;
    float: right;
    margin-right: 10px;
}

.title {
    position: relative;
    top: 25%;
    font-weight: bold;
    font-size: 17px;
    
}

.card-foot {
    border-top: thin solid lightgray;
    padding: 10px;
    font: 15px math;
}